body{
	background-repeat: no-repeat;
	background-image: url("https://ak8.picdn.net/shutterstock/videos/17870218/thumb/1.jpg");
	background-size: cover;

}
.container{
	text-align: center;
}
.logo{
	width: 125px;
	height: 125px;
	border-radius: 50%;
}
.navbar{
	height: 70px;
	background-color: black;
	color: white;
}
.date{
	margin-right: 0;
	/*width: 90px;*/
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	/*color: #F44336;*/
	color: red;
}
.dhms{
	margin-left: 5px;
	margin-top: 20px;
	/*margin-left: 0px;*/
	/*color: red;*/
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
}
.secs{
	width: 35px;
}
.title{

		margin-top: 35px;
		font-family: 'Orbitron', sans-serif;
		font-size: 30px;
		color: #FAFAFA;
		
}
.intrologo{
	margin-left: 100px;
	margin-top: 200px;
	idth: 500px;
	height: 500px;
	border-radius: 50%;
	/*opacity: 0.5;*/
}
.row{
	text-align: center;
	margin-top: 200px;
	font-size: 20px;
	color: white;
	opacity: 0.7;
}
.about{
	padding-left: 25%;
	padding-right: 25%;
}











